/* ================================
   FUNDO GLOBAL
=================================== */

body {
  /* Fundo preto + overlay escuro + imagem com estrelas */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)),
    url("../img/fundo1.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
