/* ==========================
   CONTATO
   ========================== */

.contact-list ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.contact-list li {
  font-size: 1.1rem;
}

.contact-list strong {
  display: block;
  font-family: var(--fonte-destaque);
  color: var(--cor-primaria-soft);
  font-size: 0.9rem;
  margin-bottom: var(--space-1);
}

